html{font-size:10px;font-family:'Roboto', sans-serif}
html,body{height:100%}
body{margin:0}
.calc-flexbox{display:flex}
.calc-flexbox__JC--space-between{justify-content:space-between}
.calc-flexbox__FW--wrap{flex-wrap:wrap}
.calc-ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.calc-wrapper{
    min-width:28em;
    max-width:94em;
    padding:1em;
}
.calc-wrapper:before,.calc-wrapper:after{content:'';display:table}
.calc-wrapper:after{clear:both}
h1{color:#5e731e}
h1 span{font-size:smaller;display:inline-block}
.calc-UI__block{width:45em}

.calc-UI__label,
.calc-UI__input{
    font-size:1.5em;
    display:block;
}
.calc-UI__label{
    padding:.2em .9em;
    color:#5e731e;
}
.calc-UI__input{
    border:1px solid #5e731e;
    padding:0 0.5em;
    width:100%;
    height:2.5em;
    font-family:'Roboto', sans-serif;
}
input.calc-UI__input{box-sizing:border-box}
.calc-UI__figure{
    position:relative;
    margin:1em 0;
    width:45em;height:30em;
}
.calc-UI__figcapture{
    position:absolute;left:0;right:0;bottom:0;
    padding:1em;
    background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    color:#fff;
}
.calc-UI__figcapture span{font-size:1.5em}
.calc-UI__production-caption{flex:1 1 auto}
.calc-UI__production-price{flex:1 0 10em;text-align:right}
.calc-UI__submit{
    border:1px solid #e9b600;border-radius:3px;
    padding:6px 20px;
    width:100%;height:40px;
    display:block;
    background:#ffc802;
    transition:background-color 0.4s ease;
    color:#fff;
    font-weight:bold;
    text-align:center;
    font-size:1.5em;
}
.calc-UI__submit:hover{background:#ffd53b}
.calc-UI__submit:active{background:#ffe06f}
.calc-UI__row{margin:1em 0}

.calc-UI__result-box{
    margin-top:3.5em;
    padding:.1em 1em;
    height:54em;
    background:#efffe2;
}
#result{font-size:1.5em}
