html{font-size:10px;font-family:'Roboto', sans-serif}
html,body{height:100%}
body{margin:0}
.calc-flexbox{display:flex}
.calc-flexbox__JC--space-between{justify-content:space-between}
.calc-ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.calc-wrapper{
    margin:auto;
    width:calc(100% - 2em);
    min-width:26em;
    max-width:94em;
    padding:1em;
    background:#fff;
}
.calc-header{color:#5e731e}
.calc-UI__block{width:calc(100% - 2em);min-width:26em;max-width:45em}
@media all and (min-width: 480px){
    .calc-UI__block{width:calc(50% - 2em);min-width:45em}
}
.calc-adjustment{
    display:flex;
    flex-direction:column;
    align-items:center;
}
@media all and (min-width: 930px){
    .calc-adjustment{
        flex-direction:row;
        align-items:normal;
        justify-content:space-between;
    }
}
.calc-UI__margins-absorber{margin: -1em 0}

.calc-UI__link{color:#5e731e}
.calc-UI__label,
.calc-UI__field{
    font-size:1.5em;
    display:block;
}
.calc-UI__label{
    padding:.2em .9em;
    color:#5e731e;
}
.calc-UI__field{
    border:1px solid #5e731e;
    padding:0 0.5em;
    width:100%;
    height:2.5em;
    font-family:'Roboto', sans-serif;
}
.calc-UI__field--input{box-sizing:border-box}
.calc-UI__figure{
    position:relative;
    margin:1em 0;
    width:100%;
}
.calc-UI__production-image{width:100%;height:100%}
.calc-UI__figcapture{
    position:absolute;left:0;right:0;bottom:0;
    padding:1em;
    background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    color:#fff;
}
.calc-UI__figcapture span{font-size:1.5em}
.calc-UI__production-caption{flex:1 1 auto}
.calc-UI__production-price{flex:1 0 10em;text-align:right}
.calc-UI__submit{
    font-size:1em;
    margin-top:2em;
    border:.1em solid #e9b600;border-radius:3px;
    padding:.6em 2em;
    width:100%;height:4em;
    display:block;
    background:#ffc802;
    transition:background-color 0.4s ease;
    color:#fff;
    font-weight:bold;
    text-align:center;
}
.calc-UI__submit-caption{font-size:1.5em}
.calc-UI__submit:hover{background:#ffd53b}
.calc-UI__submit:active{background:#ffe06f}
.calc-UI__row{margin:1em 0}

.calc-UI__result-box{
    position:relative;
    margin-top:2em;
    padding:1em;
}
.calc-UI__slit{
    position:absolute;
    top:1em;left:1em;right:1em;
    border-top:.3em solid #2a2a2a;
    border-bottom:.3em solid #4d4d4d;
    border-radius:.3em;
}
.calc-UI__check{
    position:relative;
    margin:.3em 0 1em;
    border:2px solid #eee;
    border-bottom:none;
    border-radius:3em 3em 0 0;
    padding:3em 1em 1em;
    height:300px;
    background-color:#ddd;
    background-image:linear-gradient(to bottom, #eee 0%,#fff 15%,#fff 80%,#ddd 100%);
}
.calc-UI__check:after{content:'';
    position:absolute;left:0;right:0;bottom:0;
    border-bottom:2px dashed #ddd;
    background:#fff;
}
#result{font-size:1.5em}
.calc-UI__check-row{
    display:flex;justify-content:space-between;
    border-bottom:1px dotted #ccc;
}
.calc-UI__check-row--in-total{font-weight:700}
.calc-UI__check-block-regional_price{border-top:2px solid #ddd}

.calc-UI__author-box{position:absolute;left:1em;right:1em;bottom:2em}
.calc-UI__author{font-size:1.2em;font-style:normal;color:#777;text-align:center}
.calc-UI__author .calc-UI__link{color:inherit;text-decoration:none;border-bottom:1px dotted #777}
